<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:acf/hero {"id":"block_626c46f4b45b6","name":"acf/hero","data":{"width":"content","_width":"field_6266bb148799b","image_use":"background","_image_use":"field_6266bb148b6a7","alignment":"left","_alignment":"field_6266bb148f2db","color":"0","_color":"field_6266bb1492d8f"},"align":"","mode":"preview"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:block {"ref":489} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->