<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:acf/hero {"id":"block_6266bb9550c0c","name":"acf/hero","data":{"width":"full","_width":"field_6266bb148799b","image_use":"background","_image_use":"field_6266bb148b6a7","alignment":"left","_alignment":"field_6266bb148f2db","color":"foreground","_color":"field_6266bb1492d8f"},"align":"","mode":"preview"} /-->

<!-- wp:acf/container {"id":"block_6266c20550c0d","name":"acf/container","data":{"width":"thin","_width":"field_6262afa3d05b2","padding":"gap","_padding":"field_6262a8bcedd4f","background_color":"0","_background_color":"field_6262a2e96ca9a","text_color":"0","_text_color":"field_6262a2fd6ca9b","background_image":"","_background_image":"field_6262a0fb0688a"},"align":"","mode":"preview"} -->
<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex"}} -->
  <div class="wp-block-group"><!-- wp:post-date {"format":"F j, Y","style":{"typography":{"fontStyle":"italic","fontWeight":"400"}},"fontSize":"small"} /-->

    <!-- wp:post-author {"showAvatar":false,"fontSize":"small"} /-->

    <!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

    <!-- wp:post-terms {"term":"post_tag","fontSize":"small"} /--></div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"32px"} -->
  <div style="height:32px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->

  <!-- wp:separator {"className":"is-style-wide"} -->
  <hr class="wp-block-separator is-style-wide"/>
  <!-- /wp:separator -->

  <!-- wp:post-comments /--></div>
<!-- /wp:group -->
<!-- /wp:acf/container -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->