footer {
  font-size: 1rem;
  li {
    line-height: 1;

  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      list-style:none;
      margin: 0;
      padding: 0;
    }
  }

  h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .#{$ns}footer-columns {
    gap: var(--wp--custom--spacing--small);

    h2 {
      padding-bottom: 2rem;
    }
  }

  .#{$ns}footer-bottom-row {
    gap: var(--wp--custom--spacing--small);
  }
}