h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  color:inherit;
  font-family:$font-header;
  line-height: 1.2;
  margin:2.5rem 0 1.75rem;

  &:first-child {
    margin-top: 0;
  }

  &.is-alt {
    font-family:$font-accent;
    font-weight: 600;
  }

  &.is-small {
    font-size:1rem;
  }

  &.is-topper {
    margin-bottom: .5rem;
    opacity:.75;
    text-transform: uppercase;
  }

  &.has-topper {
    margin-top: 0;
  }

  &.is-style-font-family--body {
    font-family: $font-body
  }

  &.is-style-section-heading-blue {
    @extend .alignfull;
    margin-bottom: 2rem;
    padding: 1.5rem calc((100% - var(--wp--style--global--content-size)) / 2);
    line-height: 1.8;
    color: $primary-opposite;
    font-weight: 600;
    background: $primary;
    background: linear-gradient(90deg, rgba(19,41,75,1) 80%, rgba(255,255,255,0) 80%);
    &::before {
      content: '';
      height: 55%;
      border-left: 4px solid $secondary;
      margin: 0 2rem 0 -2rem;
      font-size: 1.2em;
    }
  }

  &.is-style-section-heading-gold {
    font-weight: 600;
    padding: 0 1rem 0 calc((100% - var(--wp--style--global--content-size)) / 2);
    line-height: 1.8;
    margin-left: unset !important;
    margin-right: unset !important;
    width: fit-content;
    border-bottom: 4px solid $secondary;
  }
}

.is-topper {

  +h1,+.h1,+h2,+.h2,+h3,+.h3,+h4,+.h4,+h5,+.h5,+h6,+.h6 {
    margin-top: 0;
  }

}


h1,.h1 {
  font-size:4rem;
  font-weight: 400;

  @include header_font_sizes(4rem);

  @media screen and (max-width: $breakpoint-sm) {
    font-size:2.35rem;

    @include header_font_sizes_mobile(2.35rem);

  }
}

h2,.h2 {
  font-size:3rem;
  font-weight: 400;

  @include header_font_sizes(3rem);

  @media screen and (max-width: $breakpoint-sm) {
    font-size:2rem;

    @include header_font_sizes_mobile(2rem);
  }
}

h3,.h3 {
  font-size:2rem;
  font-weight: 400;

  @include header_font_sizes(2rem);

  @media screen and (max-width: $breakpoint-sm) {
    font-size:1.5rem;

    @include header_font_sizes_mobile(1.5rem);
  }
}

h4,.h4 {
  font-size:1.5rem;
  font-weight: 700;

  @include header_font_sizes(1.5rem);

  @media screen and (max-width: $breakpoint-sm) {
    font-size:1.25rem;

    @include header_font_sizes_mobile(1.25rem);
  }
}

h5,.h5 {
  font-size:1.25rem;
  font-weight: 700;

  @include header_font_sizes(1.25rem);

  @media screen and (max-width: $breakpoint-sm) {
    font-size:1rem;

    @include header_font_sizes_mobile(1rem);
  }
}