$prefix: 'lc';
$ns: $prefix+'-';

$primary: #00ADEF;
$secondary: #EFB200;
$tertiary: #B6563F;
$light-gray: #D7F2FD;
$dark-gray: #3F4648;
$dark: #002736;

$primary-opposite: #FFF;
$secondary-opposite: #FFF;
$tertiary-opposite: #FFF;
$light-gray-opposite: $dark;
$dark-gray-opposite: $dark;
$dark-opposite: #FFF;

$high: $primary;
$medium: rgba($primary,.5);
$low: rgba($primary,.2);


$colors: (
        primary: $primary,
        secondary: $secondary,
        tertiary: $tertiary,
        light-gray: $light-gray,
        dark-gray: $dark-gray,
        dark: $dark
);
$colors-opposite: (
        primary: $primary-opposite,
        secondary: $secondary-opposite,
        tertiary: $tertiary-opposite,
        light-gray: $light-gray-opposite,
        dark-gray: $dark-gray-opposite,
        dark: $dark-opposite
);

$colors-combined: (
  ('primary',$primary,$primary-opposite),
  ('primary-opposite',$primary-opposite,$primary),
  ('secondary',$secondary,$secondary-opposite),
  ('secondary-opposite',$secondary-opposite,$secondary),
  ('tertiary',$tertiary,$tertiary-opposite),
  ('tertiary-opposite',$tertiary-opposite,$tertiary),
  ('light-gray',$light-gray,$light-gray-opposite),
  ('light-gray-opposite',$light-gray-opposite,$light-gray),
  ('dark-gray',$dark-gray,$dark-gray-opposite),
  ('dark-gray-opposite',$dark-gray-opposite,$dark-gray),
  ('dark',$dark,$dark-opposite),
  ('dark-opposite',$dark-opposite,$dark),
);

$font-header: "Dosis",Helvetica,Arial,sans-serif;
$font-body: Helvetica,Arial,sans-serif;
$font-accent: Tahoma,Helvetica,Arial,sans-serif;

$vertical-top-margin:6rem;

$default-speed:250ms;

$button-vertical-padding: .5rem;
$button-horizontal-padding:1.5rem;

$vertical-spacing:3rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


$blog-content-width:900px;

// Generic flair spacing
$flair-spacing:1.5rem;

// Default border-radius
$border-radius-lg:15px;
$border-radius-md:10px;
$border-radius-sm:3px;

// Default drop shadoow
$box-shadow:2px 2px 15px rgba(0,0,0,.15);

// Space sizing
$space-size-none:  0em;
$space-size-xs: .75em;
$space-size-sm: 1em;
$space-size-md: 1.75em;
$space-size-lg: 2.5em;
$space-size-xl: 3.5em;
$space-size-xxl: 4.75em;

// Locations for spaces loops
$location-prefixes: ('top','right','bottom','left');

// Array of space sizes
$space-size: (
  ('none', '0em'),
  ('xs', '.75em'),
  ('sm', '1em'),
  ('md', '1.75em'),
  ('lg', '2.5em'),
  ('xl', '3.5em'),
  ('xxl', '4.75em')
);