.#{$ns}navbar {
  
  ul.wp-block-navigation__container {
    gap: var(--wp--custom--spacing--small);

    > li {


      a {
        @include transitions(150ms);
        border-bottom: 2px solid transparent;

        &:hover {
          @include transitions(150ms);
          text-decoration: none;
          border-bottom: 2px solid  var(--wp--preset--color--secondary);
          color:  var(--wp--preset--color--secondary);
        }
      }

      .wp-block-navigation__submenu-container {
        padding: .75rem 0;
        gap: 1rem;

        li {
          margin: 0;

          a {
            padding: .5rem .75rem;
            font-size: 1rem;
            line-height: 1.2;
          }
        }
      }

      &:last-child > a {
        background-color: var(--wp--preset--color--primary);
        border: 2px solid var(--wp--preset--color--primary);
        padding: .5rem 2.5rem;
        color: var(--wp--preset--color--background);

        &:hover {
          background-color: transparent;
          color:  var(--wp--preset--color--primary);
        }
      }

      &.current-menu-item {
        a {
          text-decoration: none;
          border-bottom: 2px solid  var(--wp--preset--color--secondary);
          color:  var(--wp--preset--color--secondary);
        }
      }
    }
  }

}